.ag-tabs-header {
  background-color: var(--ag-tab-bar-background-color);
  padding: var(--ag-tab-bar-vertical-padding) var(--ag-tab-bar-horizontal-padding) 0;
  border-bottom: var(--ag-tab-selected-border-width) solid var(--ag-border-color);
  gap: var(--ag-tab-spacing);
}

.ag-tab {
  border-top: var(--ag-tab-selected-border-width) solid transparent;
  border-left: var(--ag-tab-selected-border-width) solid transparent;
  border-right: var(--ag-tab-selected-border-width) solid transparent;
  padding: var(--ag-tab-vertical-padding) var(--ag-tab-horizontal-padding)
    calc(var(--ag-tab-vertical-padding) + var(--ag-tab-selected-border-width));
  /* shift down 1px to make tab background blend with area below */
  margin-bottom: calc(var(--ag-tab-selected-border-width) * -1);
  flex: 0;
}

.ag-tab-selected {
  background-color: var(--ag-background-color);
  border-color: var(--ag-border-color);
  border-bottom-color: transparent;
}
