.ag-tabs-header {
  background-color: var(--ag-tab-bar-background-color);
  border-bottom: var(--ag-tab-bar-border);
}

.ag-tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ag-tab-padding);
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
  flex: 1;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: var(--ag-tab-selected-underline-width);
    background-color: var(--ag-tab-selected-underline-color);
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity var(--ag-tab-selected-underline-transition-duration);
  }

  &.ag-tab-selected::after {
    opacity: 1;
  }

  &:focus-visible {
    box-shadow: inset var(--ag-focus-shadow);
  }

  &:not(:first-of-type) {
    border-left: var(--ag-tab-selected-border);
    border-left-color: transparent;
  }
  &:not(:last-of-type) {
    border-right: var(--ag-tab-selected-border);
    border-right-color: transparent;
  }
}

.ag-tab-selected {
  border-bottom-color: var(--ag-tab-selected-underline-color);
  background-color: var(--ag-tab-selected-background-color);

  &:not(:first-of-type) {
    border-left: var(--ag-tab-selected-border);
  }
  &:not(:last-of-type) {
    border-right: var(--ag-tab-selected-border);
  }
}

.ag-tab:not(.ag-tab-selected) {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
