@use '../core' as *;

.results {
    max-height: calc(100vh - 450px);
    padding-top: $spacing-size-2;
    font-size: 18px;
    border-top: 1px solid var(--color-border-primary);
    overflow: auto;
    overscroll-behavior: contain;
}

.hit {
    display: grid;
    grid-template:
        'icon title' min-content
        'icon text' min-content / max-content 1fr;
    margin: 0 $spacing-size-4;
    padding: $spacing-size-4;
    border-radius: var(--radius-md);
    cursor: pointer;

    &[data-selected='true'] {
        background: rgba(4, 75, 147, 1);
    }
}

.hitIcon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin-right: $spacing-size-4;
    border-radius: var(--radius-md);
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border-primary);
    box-shadow: var(--shadow-xs);

    #{$selector-darkmode} & {
        background-color: var(--color-border-tertiary);
    }

    :global(.icon) {
        --icon-size: #{$spacing-size-8};
        --color-icon: var(--color-bg-brand-solid);

        #{$selector-darkmode} & {
            --color-icon: var(--color-fg-primary);
        }
    }
}

.titleSection,
.title,
.text {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    overflow: hidden;

    [data-selected='true'] & {
        color: var(--color-bg-primary);
    }
}

.titleSection {
    grid-area: title;
    margin-bottom: 0;
}

.title {
    color: var(--color-fg-primary);
    font-weight: var(--text-semibold);
}

.text {
    grid-area: text;
    color: var(--text-color-secondary);
}

.crumbContainer {
    padding: $spacing-size-4 0 $spacing-size-1 $spacing-size-8;
}

.crumb {
    font-weight: var(--text-semibold);
    text-decoration: none;
    color: var(--color-text-primary);
}

.gt {
    color: rgba(152, 162, 179, 1);
}
