.container {
    display: flex;
    padding: 27px 24px;
    border-bottom: 1px solid rgba(234, 236, 240, 1);
    cursor: text;
}
.inputEle {
    all: unset;
    flex: 1;
    font-size: 20px;
    line-height: 28px;
    margin: 0 17px;
    outline: none;
}
.resultCount {
    font-size: 14px;
    line-height: 28px;
}